<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  </head>
  <script>
    function togglePasswordVisibility() {
        var passwordField = document.querySelector('[name="password"]');
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
  </script>
  <body>
    <p>Login Page</p>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        <div class="password-group">
          {{ form.password }}
          <button type="button" onclick="togglePasswordVisibility()">Show</button>
      </div>         
        {{ form.submit() }}
    </form>

    <div class="button-box">
      <a href="{{ url_for('register') }}" class="button"
        >Don't have an account? Register</a
      >
    </div>
  </body>
</html>
