{% extends "for_all.html" %}
{% block title %}Order Receipt{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/receipt.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1><i class="fas fa-receipt"></i> Order Receipt</h1>
        <p>Order ID: {{ order.id }}</p>
        <p>First Name: {{ order.first_name }}</p>
        <p>Last Name: {{ order.last_name }}</p>
        <p>Email: {{ order.email }}</p>
        <p>Address: {{ order.address }}, {{ order.city }}, {{ order.country }}</p>

        <h2>Order Details</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price per Unit</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>${{ product.price / 100 }}</td>
                    <td>${{ product.quantity * product.price / 100}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>Total Quantity: {{ quantity_total }}</p>
        <p>Total Amount Paid (Includes shipping): ${{ grand_total /100 + 10 }}</p>

        <div class="thank-you-message">
            <p class="thank-you">Thank you for your purchase! Your order is being prepared.</p>
            <a href="{{ url_for('catalog') }}" class="btn btn-primary">Back to Catalog</a>
        </div>
    </div>
{% endblock %}