<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

    
    <div class="header-overlay">
        <h1>DETIshop</h1>
        <p class="subtitulo" >Veste o teu curso</p>
        <div class= "button-box">
            <a href="{{ url_for('login') }}" class="button">Login</a>
            <a href="{{ url_for('register') }}" class="button">Registar</a> 
        </div>
    </div>
</body>
</html>
